function addElement () { 
  // create a new div element 
  // and give it some content 
  var newDiv = document.createElement("div"); 
 
  newDiv.innerHTML = "<div id=\"exo\">" +
"	<div>" +
"		<span>Prism patch</span>" +
"		<span>X</span>" +
"	</div>" +
"	<div>" +
"		Error" +
"		<textarea>exo</textarea>" +
"		Patch" +
"		<textarea>hopar</textarea>" +
"		Save to " +
"		<select>" +
"			<option>1</option>" +
"			<option>2</option>" +
"			<option>3</option>" +
"			<option>4</option>" +
"			<option>5</option>" +
"			<option>6</option>" +
"		</select>" +
"		Topics" +
"		<input type=\"text\" placeholder=\"exoexo\">" +
"		<button>Save</button>" +
"		<button>Cancel</button>" +
"	</div>" +
"</div>"

  document.body.append(newDiv); 
}